$cat: (
  ($t, $t, $t, $black, $t, $t, $t, $t, $t, $t, $black),
  ($t, $t, $black, $gray, $black, $t, $t, $t, $t, $black, $gray, $black),
  ($t, $t, $black, $gray, $dkgray, $black, $black, $black, $black, $dkgray, $gray, $black, $t, $t, $t, $t, $t, $t, $t, $t, $black, $black),
  ($t, $black, $dkgray, $gray, $gray, $dkgray, $dkgray, $gray, $dkgray, $gray, $gray, $dkgray, $black, $t, $t, $t, $t, $t, $t, $black, $gray, $gray, $black),
  ($t, $black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black, $t, $t, $t, $t, $t, $t, $black, $gray, $gray, $black),
  ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $dkgray, $black, $black, $black, $black, $t, $t, $t, $black, $dkgray, $black),
  ($black, $gray, $gray, $black, $gray, $gray, $black, $gray, $gray, $black, $gray, $gray, $gray, $dkgray, $gray, $dkgray, $gray, $black, $t, $t, $black, $gray, $black),
  ($black, $gray, $pink, $gray, $gray, $black, $gray, $black, $gray, $gray, $pink, $gray, $gray, $dkgray, $gray, $dkgray, $gray, $gray, $black, $black, $black, $dkgray, $black),
  ($black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black, $gray, $black),
  ($black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black, $gray, $black),
  ($black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black),
  ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black),
  ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black),
  ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $dkgray, $black),
  ($t, $black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $dkgray, $black),
  ($t, $t, $black, $dkgray, $gray, $dkgray, $dkgray, $gray, $dkgray, $gray, $gray, $gray, $dkgray, $gray, $dkgray, $dkgray, $gray, $dkgray, $black),
  ($t, $t, $t, $black, $gray, $black, $black, $gray, $black, $black, $black, $black, $black, $gray, $black, $black, $gray, $black),
  ($t, $t, $t, $black, $black, $t, $t, $black, $black, $t, $t, $t, $black, $black, $t, $t, $black, $black)
);

// 3. On utilise la variable ensuite
#cat {
  display: inline-block;    /* 1. Sort le chat du mode "bloc" pour le mettre sur la ligne du texte */
  vertical-align: bottom;   /* 2. Centre le chat verticalement par rapport aux lettres */
  position: relative;
  width: calc(23 * #{$size});
  height: calc(18 * #{$size});
  margin-left: 5px;
  line-height: 0;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    box-shadow: pixelize($cat, $size); 
  }
}